<h1>Genres#index</h1>
<p>Find me in app/views/genres/index.html.erb</p>

<h1>Genres</h1>

<ul>
  <% @genres.each do |genre| %>
    <li>
      <%= link_to genre.name, genre %>
    </li>
  <% end %>
</ul>

<br>
<%= link_to "Cadastre um novo gênero de filme", new_genre_path %>
<br>
<%= link_to "HOME", root_path %> 