<h1>Gêneros</h1>

<ul>
  <% @genres.each do |genre| %>
    <li>
      <%= link_to genre.name, genre %>
    </li>
  <% end %>
</ul>

<br>
<%= link_to "Cadastrar novo gênero de filme", new_genre_path %>
<br>
<%= link_to "HOME", root_path %> 