<h1>Filmes lançados:</h1>

<ul>
  <% @movies.each do |movie| %>

    <% if movie.status == 'released' %>
      <li>
        <%= link_to "#{movie.title} (#{movie.release})", movie%>
      </li>
    <% end %>

  <% end %>
</ul>

<h1>Próximos Lançamentos:</h1>

<ul>
  <% @movies.each do |movie| %>

    <% if movie.status == 'coming out' %>
      <li>
        <%= link_to "#{movie.title} (#{movie.release})", movie%>
      </li>
    <% end %>

  <% end %>
</ul>

<br>
<%= link_to "Cadastre um novo filme", new_movie_path %>
<br>
<%= link_to "HOME", root_path %>


