<h1>Filmes cadastrados:</h1>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to "#{movie.title} (#{movie.release})", movie%>
    </li>
  <% end %>
</ul>

<br>
<%= link_to "Cadastre um novo filme", new_movie_path %>
<br>
<%= link_to "HOME", root_path %>
