<h1>Directors#index</h1>
<p>Find me in app/views/directors/index.html.erb</p>

<h1>Directors:</h1>

<ul>
  <% @directors.each do |director| %>
    <li>
 
        <%= link_to director.name, director %>

    </li>
  <% end %>
</ul>