<h1>Diretores</h1>

<ul>
  <% @directors.each do |director| %>
    <li>
        <%= link_to director.name, director %>
    </li>
  <% end %>
</ul>

<br>
<%= link_to "Cadastre um novo diretor", new_director_path %>
<br>
<%= link_to "HOME", root_path %>